@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-background:     #FFE8DB;
    --color-text:           #000000;
    --color-primary:        #739EC9;
    --color-primary-shadow: #5682B1;
}

@layer base {
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
  }

  input[type="password"]::-moz-password-toggle {
    display: none;
  }

  /* Untuk Chrome, Safari, Edge, dan Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Untuk Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }  

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }  
}